<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>My Metro</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Skin Beauty Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../static/Project/css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link href="../static/Project/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="../static/Project/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../static/Project/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	 rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

	<!-- //Web-Fonts -->
</head>

<body>
	<!-- main banner -->
	<div class="main-top" id="home">
		<!-- header -->
		<header>
			<div class="container-fluid">
				<div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
					<!-- logo -->
					<div id="logo">
						<h1><a class="" href="/">METROGEN<br><h3>Admin In</h3></a></h1>
					</div>
					<!-- //logo -->
					<!-- nav -->
					<div class="nav_w3ls">
						<nav>
							<ul class="menu">
								<li><a href="/AdminHome" >Home</a></li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2">
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#">Add <span class="fa fa-caret-down" aria-hidden="true"></span></a>
									<ul>
										<li><a href="/AdminAddEmployee"  class="drop-text">Employee</a></li>
										<li><a href="/AdminAddStations"  class="drop-text">Stations</a></li>
										<li><a href="/AdminAddTiming"  class="drop-text">Timing</a></li>
										<li><a href="/AdminAddFair"  class="drop-text">Fair</a></li>
<!--										<li><a href="/AdminAddStay"  class="drop-text">Stay</a></li>-->


									</ul>
								</li>
								<li class="mx-lg-4 mx-md-3 my-md-0 my-2">
									<!-- First Tier Drop Down -->
									<label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
									</label>
									<a href="#">View <span class="fa fa-caret-down" aria-hidden="true"></span></a>
									<ul>
										<li><a href="/AdminViewCustomers"  class="drop-text">Customer</a></li>
										<li><a href="/AdminViewJob"   class="drop-text">Career</a></li>
										<li><a href="/AdminViewTransportation"  class="drop-text">Transportation</a></li>
										<li><a href="/AdminViewFeedback" class="drop-text">Feedback</a></li>
										<li><a href="/AdminViewJobApplications" class="drop-text">CustomerJobApplications</a></li>
										<li><a href="/AdminViewTransporterJobApplications" class="drop-text">TransporterJobApplications</a></li>
									</ul>
								</li>
								
								
								<li><a href="/logout">Logout</a></li>
							</ul>
						</nav>
					</div>
					<!-- //nav -->
				</div>
			</div>
		</header>
		<!-- //header -->

		<!-- banner -->
		<div class="banner_w3lspvt">
			<div class="csslider infinity" id="slider1">
				<input type="radio" name="slides" checked="checked" id="slides_1" />
				<input type="radio" name="slides" id="slides_2" />
				<input type="radio" name="slides" id="slides_3" />
				<ul class="banner_slide_bg">
					<li>
						<div class="container">
							<div class="w3ls_banner_txt">
								<p>Welcome to our</p>
								<h3 class="w3ls_pvt-title">Metrogen</h3>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="w3ls_banner_txt text-center mx-auto">
								<p>Most Advanced Metro System</p>
								<h3 class="w3ls_pvt-title">in India</h3>
								
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="w3ls_banner_txt text-right ml-auto">
								<p>We Have The Best</p>
								<h3 class="w3ls_pvt-title">Metro Services</h3>
								
							</div>
						</div>
					</li>
				</ul>
				<div class="arrows">
					<label for="slides_1"></label>
					<label for="slides_2"></label>
					<label for="slides_3"></label>
				</div>
				<div class="navigation">
					<div>
						<label for="slides_1"></label>
						<label for="slides_2"></label>
						<label for="slides_3"></label>
					</div>
				</div>
			</div>
		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->

	<!-- about -->
	
	<!-- //about -->

	<!-- middle section one -->
	
	<!-- //middle section one -->

	<!-- best in -->
	
	<!-- //best in -->

	<!-- middle section two -->
	
	<!-- //middle section two -->

	<!-- services -->
	
	<!-- //services -->

	<!-- product section -->
	
	<!-- //product section -->

	<!-- testimonials -->
	<section id="testi">
		<div class="row no-gutters testi-bg-main">
			<div class="col-lg-7">
				<div class="testi-bg">
				</div>
			</div>
			<div class="col-lg-5 my-auto py-lg-0 py-5">
				<div class="title-section pb-lg-5 pb-4 text-center">
					<h4 class="text-bl mb-2">We have</h4>
					<h3 class="w3ls-title text-wh text-uppercase let font-weight-bold">7630 happy users</h3>
				</div>
				<div class="text-center  testi-cgrid">
					<div class="testi-icon">
						<span class="fa fa-user" aria-hidden="true"></span>
					</div>
					<h6 class="b-w3ltxt mt-4">Metrogen</h6>
					<p class="mx-auto">Our objective is to make Kochi the first city in the country where the entire public transport system: the metro, the buses, the boats, the auto-rickshaws and the taxies work together as a seamless integrated system; with a common timetable, common ticketing and centralised 'command and control.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- testimonials -->

	<!-- support -->
	
	<!-- support -->

	<!-- footer -->
	<footer class="footer-w3ls py-5">
		<div class="container py-sm-4">
			<div class="row">
				<div class="col-lg-3 col-sm-6 agileinfo_footer_grid">
					<!-- logo -->
					<div class="logo-2 mb-sm-4 mb-3">
						<h2><a href="index.html">Metrogen</a></h2>
					</div>
					<!-- //logo -->
					<p>Welcome to the most advanced metro system in India</p>
				</div>
				
					
				
				<div class="col-lg-3 col-sm-6 agileinfo_footer_grid mt-lg-0 mt-5">
					<h4 class="mb-sm-5 mb-4">Address</h4>
					<ul class="list-unstyled">
						<li>
							<span class="fa fa-map-marker mr-2"></span>Metrogen</li>
						<li>
							<span class="fa fa-envelope mr-2"></span>
							<a href="mailto:info@example.com">JLN Metro Station, 4th Floor Kaloor Ernakulam - Everyday 6.00am-10.30pm(sunday: 8.00am-10.30pm )</a>
						</li>
						<li>
							<span class="fa fa-phone mr-2"></span> Call Us. 0484-2846700</li>
						
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	<!-- footer last -->
	<div class="newsletter-main text-center py-md-5 py-4">
		<div class="container">
			<a href="#home" class="move-top text-center"></a>
			<!-- newsletter -->
			
			<!-- //newsletter -->
			<!-- copyright -->
			<div class="w3agile_footer_copy mt-sm-5 mt-4">
				<p>© 2023 Metrogen . All rights reserved | Design by
					<a href="http://w3layouts.com/">Metrogen.</a>
				</p>
			</div>
			<!-- //copyright -->
		</div>
	</div>
	<!-- //footer last -->
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
<br/>
<br/>
</body>

</html>