{% extends 'CustomerPage.html' %}
{% block body %}

{% if data %}
<table class="customers">
    <tr>
        <th>Notification</th>
        <th>No.of Vacancy</th>
        <th>Position</th>
        <th>Qualification</th>   
        <th>Application Start</th>
        <th>Application End</th>
        <th></th>
    </tr>
    {% for d in data %}
    <tr>
        <td>{{d.ref}}</td>
        <td>{{d.vaccancy}}</td>
        <td>{{d.position}}</td>
        <td>{{d.quali}}</td>
        <td>{{d.start}}</td>
        <td>{{d.end}}</td>
        <form action="/CustomerViewJob" method="get">
            {% csrf_token %}
            <input type="text" name="id" value="{{d.jobid}}" hidden>
            <td><button type="submit" class="btn btn-primary">Apply</button> </td>
        </form>
    </tr>
    {% endfor %}
</table>
{% endif %} 
{% if msg %}
<script>
alert("{{msg}}")
</script>
{% endif %} 
{% endblock %}