{% extends 'CustomerPage.html' %}
{% block body %}

<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}		
        <table align="center">
            
            <tr>
                <td><label>From</label></td>
                <td><select name="From" required class="textbox" style="color: deeppink;">
                    <option>---Select Station---</option>
                        {%for c in cat %}
                    <option value="{{c.stations}}">{{c.stations}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><label>To</label></td>
                <td><select name="To" required  class="textbox" style="color: deeppink;">
                    <option>---Select Station---</option>
                        {%for c in cat %}
                    <option value="{{c.stations}}">{{c.stations}}</option>
                        {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><label>Number of Tickets</label></td>
                <td><input type="number" name="ticket" value="{{ticket}}" required class="textbox"></td>
            </tr>
            
            <tr>
                <td><input type="submit" value="Amount" name="ADD" class="but"/></td>
            </tr>
            <tr>
                <td><label>Total Amount</label></td>
                <td><input type="number" name="amount" value="{{total_amount}}" readonly class="textbox"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Book Now" name="Book" class="but"/></td>
            </tr>
        </table>
        {% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}
        <br/>
        <br/>
        </form>
        {% endblock %}