<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Metro</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="../static/project/css/style1.css">
</head>
<body>

    <input type="radio" name="Photos" id="check1" checked>
     <input type="radio" name="Photos" id="check2">
      <input type="radio" name="Photos" id="check3">
       <input type="radio" name="Photos" id="check4">

<div class="container">
    <h1>OUR PHOTO GALLERY</h1>
    <div class="top-content">
        <h3>Photo Gallery</h3>
        <label for="check1">All Photos</label>
          <label for="check2">Metro</label>

              <label for="check3">stations</label>

        <ul class="menu">
            <label><li><a href="/" class="active">Home</a></li></label>
        </ul>
    </div>

    <div class="photo-gallery">
        <div class="pic kk">
        <img src="../static/project/images/k1.jpg">
    </div>
    <div class="pic hh">
        <img src="../static/project/images/k2.jpg">
    </div>
    <div class="pic oo">
        <img src="../static/project/images/k3.jpg">
    </div>
        <div class="pic gg">
        <img src="../static/project/images/gg.jpg">
    </div>
    <div class="pic pp">
        <img src="../static/project/images/pp.jpg">
    </div>
    <div class="pic jj">
        <img src="../static/project/images/jj.jpg">
    </div>
    <div class="pic jj">
        <img src="../static/project/images/kmm.jpg">
    </div>
    <div class="pic jj">
        <img src="../static/project/images/wmetro.jpg">
    </div>
</div>

</body>